Repository pyvista/pytest-pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

fix merge
  pytest_pyvista/pytest_pyvista.py
Labels: none

typo
  tests/test_pyvista.py
Labels: none

Allow saving generated images to dir (#22)
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

update README with recent changes
  README.rst
Labels: documentation

Also update docstring
  pytest_pyvista/pytest_pyvista.py
Labels: none

Update README and docstring with recent changes (#32)
  README.rst
  pytest_pyvista/pytest_pyvista.py
Labels: documentation

add in doc build
  .github/workflows/ci_cd.yml
  .gitignore
  appveyor.yml
  doc/Makefile
  doc/_static/README.md
  doc/_templates/README.md
  doc/api.rst
  doc/conf.py
  doc/index.rst
  doc/make.bat
  docs/index.rst
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
Labels: documentation, maintenance

fun pre-commit
  .flake8
  .github/workflows/ci_cd.yml
  doc/conf.py
  pyproject.toml
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

fix build docs step
  .github/workflows/ci_cd.yml
Labels: maintenance

fix deployment step
  .github/workflows/ci_cd.yml
Labels: maintenance

fix deployment step again
  .github/workflows/ci_cd.yml
Labels: maintenance

add in doc build (#33)
  .flake8
  .github/workflows/ci_cd.yml
  .gitignore
  appveyor.yml
  doc/Makefile
  doc/_static/README.md
  doc/_templates/README.md
  doc/api.rst
  doc/conf.py
  doc/index.rst
  doc/make.bat
  docs/index.rst
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

deploy: 388f9d9ba5e8f272a0b38c2a29908a7b3265eb47
  .buildinfo
  404.html
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _static/documentation_options.js
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
Labels: none

Update README.rst
  README.rst
Labels: documentation

Create CNAME
  CNAME
Labels: none

Fix reset_image_cache
  pytest_pyvista/pytest_pyvista.py
Labels: none

add test
  tests/test_pyvista.py
Labels: none

skip vtk8
  tests/test_pyvista.py
Labels: none

Fix reset_image_cache (#39)
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

Bump version
  pytest_pyvista/__init__.py
Labels: none

deploy: 400c5e292d1ba0ce5d628015e28da340461a80e0
  .buildinfo
  404.html
  CNAME
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _static/documentation_options.js
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
Labels: none

Remove PyVista from dependencies
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

Remove PyVista from dependencies (#41)
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

Bump version
  pytest_pyvista/__init__.py
Labels: none

deploy: 41371ed59ea527f205f5512386282285fb3bdd95
  .buildinfo
  404.html
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _static/documentation_options.js
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
Labels: none

remove vtk8
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

update readme
  README.rst
Labels: documentation

remove from ci
  .github/workflows/ci_cd.yml
Labels: maintenance

Align CI versions with pyvista CI
  .github/workflows/ci_cd.yml
Labels: maintenance

Remove mention from documentation in readme
  README.rst
Labels: documentation

Remove vtk8 handling (#44)
  .github/workflows/ci_cd.yml
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

bump version
  pytest_pyvista/__init__.py
Labels: none

v0.1.7 release (#47)
  .github/workflows/ci_cd.yml
  README.rst
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

deploy: bb047746228257ee077d3a921284303c462fa4be
  .buildinfo
  404.html
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _sources/_autosummary/pytest_pyvista.VerifyImageCache.rst.txt
  _static/documentation_options.js
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
  searchindex.js
Labels: none

Add downstream tests
  .github/workflows/ci_cd.yml
Labels: maintenance

fix requirements install
  .github/workflows/ci_cd.yml
Labels: maintenance

changes to working directory and software report
  .github/workflows/ci_cd.yml
Labels: maintenance

narrow testing scope
  .github/workflows/ci_cd.yml
Labels: maintenance

use dev version
  .github/workflows/ci_cd.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- ./*.md
- ./*.rst
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- ignore_words.txt
- mypy.ini
- pyproject.toml
- setup.py
dependencies:
- requirements*
- environment.yml
