Repository pyvista/pytest-pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- ./*.md
- ./*.rst
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- ignore_words.txt
- mypy.ini
- pyproject.toml
- setup.py
dependencies:
- requirements*
- environment.yml

teardown fixture
  pytest_pyvista/pytest_pyvista.py
Labels: none

Fix teardown
  pytest_pyvista/pytest_pyvista.py
Labels: none

Teardown on errors
  pytest_pyvista/pytest_pyvista.py
Labels: none

update verbosity of tests temporarily
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

use addfinalizer
  pytest_pyvista/pytest_pyvista.py
Labels: none

format
  pytest_pyvista/pytest_pyvista.py
Labels: none

use tmp branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Back to main branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Guard against leakages
  pytest_pyvista/pytest_pyvista.py
Labels: none

revert verbosity
  .github/workflows/ci_cd.yml
Labels: maintenance

whitespace
  pytest_pyvista/pytest_pyvista.py
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Temporarily use upstream branch
  .github/workflows/ci_cd.yml
Labels: maintenance

Try latest python
  .github/workflows/ci_cd.yml
Labels: maintenance

upload generated_images as artifact
  .github/workflows/ci_cd.yml
Labels: maintenance

run upload on failure
  .github/workflows/ci_cd.yml
Labels: maintenance

use same ubuntu version
  .github/workflows/ci_cd.yml
Labels: maintenance

use main branch again
  .github/workflows/ci_cd.yml
Labels: maintenance

Bug: guard against leaking verify_image_cache (#51)
  .github/workflows/ci_cd.yml
  pytest_pyvista/pytest_pyvista.py
Labels: maintenance

Use main branch again
  .github/workflows/ci_cd.yml
Labels: maintenance

add test
  tests/test_pyvista.py
Labels: none

Add CNAME
  CNAME
Labels: none

Add downstream tests and guard against leakages across tests (#49)
  .github/workflows/ci_cd.yml
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: maintenance

bump version to v0.1.8
  pytest_pyvista/__init__.py
Labels: none

Release v0.1.8 (#53)
  .github/workflows/ci_cd.yml
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: maintenance

deploy: bb0fda6b02c293e3664f9b6433abffb4fdc82c32
  .buildinfo
  404.html
  CNAME
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _static/documentation_options.js
  _static/pygments.css
  _static/scripts/bootstrap.js
  _static/scripts/pydata-sphinx-theme.js
  _static/styles/bootstrap.css
  _static/styles/pydata-sphinx-theme.css
  _static/webpack-macros.html
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
Labels: none

pin numpy for older vtk
  .github/workflows/ci_cd.yml
Labels: maintenance

remove python 3.7
  .github/workflows/ci_cd.yml
  README.rst
  pyproject.toml
Labels: documentation, maintenance

remove flake8-isort
  .pre-commit-config.yaml
Labels: none

bump isort version
  .pre-commit-config.yaml
Labels: none

Fix CI; Remove python 3.7; remove flake8-isort (#66)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
Labels: documentation, maintenance

pin sphinx
  pyproject.toml
Labels: maintenance

pin sphinx (#67)
  pyproject.toml
Labels: maintenance

mypy-extensions
  .pre-commit-config.yaml
Labels: none

remove flake8-black
  .pre-commit-config.yaml
Labels: none

Bump flake8-quotes
  .pre-commit-config.yaml
Labels: none

Create CNAME
  CNAME
Labels: none

Change dependabot to monthly
  .github/dependabot.yml
Labels: maintenance

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none
