Repository pyvista/pytest-pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- examples_flask/**/*
- ./*.md
- ./*.rst
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- Makefile
- ignore_words.txt
- mypy.ini
- pyproject.toml
dependencies:
- requirements*
- environment.yml

Removes wildcard asterisk
  .github/workflows/ci_cd.yml
Labels: maintenance

Removes wildcard asterisk
  .github/workflows/ci_cd.yml
Labels: maintenance

Allows upper or lower case in regular expression
  tests/test_pyvista.py
Labels: none

Allows upper or lower case in regular expression
  tests/test_pyvista.py
Labels: none

Changes test output to adapt for pytest-plugin outputs
  .github/workflows/ci_cd.yml
Labels: maintenance

Changes test output to adapt for pytest-plugin outputs
  .github/workflows/ci_cd.yml
Labels: maintenance

Changes test output to adapt for pytest-plugin outputs
  .github/workflows/ci_cd.yml
Labels: maintenance

Changes test output to adapt for pytest-plugin outputs
  .github/workflows/ci_cd.yml
Labels: maintenance

Working on the CD/CI
  .github/workflows/ci_cd.yml
  requirements_test.txt
Labels: maintenance, dependencies

Move plugin to its own folder to fix coverage report
  pytest_pyvista/pytest_pyvista.py
  setup.py
Labels: none

Move plugin to its own folder to fix coverage report
  .github/workflows/ci_cd.yml
Labels: maintenance

Fix typo
  .github/workflows/ci_cd.yml
Labels: maintenance

Uses regex for wheel name
  .github/workflows/ci_cd.yml
Labels: maintenance

Changes software report to pytest-pyvista
  .github/workflows/ci_cd.yml
Labels: maintenance

Working on flit build
  pyproject.toml
  pytest_pyvista.py
Labels: maintenance
