Repository pyvista/pytest-pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Change dependency/CI version updates to monthly (#77)
  .github/dependabot.yml
  .pre-commit-config.yaml
Labels: maintenance

Adding custom error class
  pytest_pyvista/pytest_pyvista.py
Labels: none

Using codecov v3
  .github/workflows/ci_cd.yml
Labels: maintenance

Update LICENSE year
  LICENSE
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update LICENSE year (#81)
  .github/workflows/ci_cd.yml
  LICENSE
Labels: maintenance

Implementation
  pytest_pyvista/pytest_pyvista.py
Labels: none

Adding cli option
  pytest_pyvista/pytest_pyvista.py
Labels: none

Pre-commit fix
  pytest_pyvista/pytest_pyvista.py
Labels: none

feat: Add test for the new flag
  tests/test_pyvista.py
Labels: none

fix: Flag wasn't being captured
  pytest_pyvista/pytest_pyvista.py
Labels: none

fix: pre-commit issues
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

fix: Remove print
  pytest_pyvista/pytest_pyvista.py
Labels: none

Update README with conda/mamba install
  README.rst
Labels: documentation

Add conda-forge badge + icons
  README.rst
Labels: documentation

Comply with NEP29 for Python and NumPy versions
  README.rst
  pyproject.toml
Labels: documentation, maintenance

Adopt validate-pyproject pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

Add nep29 badge to README
  README.rst
Labels: documentation

remove py38 and vtk903 ci
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: Test image being overwritten
  tests/test_pyvista.py
Labels: none

Reset cache only if error (#82)
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

Ad info about new flag
  README.rst
Labels: documentation

Removing init
  pytest_pyvista/pytest_pyvista.py
Labels: none

Reusing test to make sure the class is raised used. Adding test for file not found.
  tests/test_pyvista.py
Labels: none

Fixing test
  tests/test_pyvista.py
Labels: none

pre-commit fix
  pytest_pyvista/pytest_pyvista.py
Labels: none

Update README with conda/mamba install (#84)
  README.rst
Labels: documentation

Typo fix geovista to pytest-pyvista
  README.rst
Labels: documentation

Adding custom error class (#80)
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

Typo fix geovista to pytest-pyvista (#88)
  README.rst
Labels: documentation

Ad info about new flag (#87)
  README.rst
Labels: documentation

Bump version
  pytest_pyvista/__init__.py
Labels: none

pre-commit fix
  pytest_pyvista/pytest_pyvista.py
Labels: none

Release v0.1.9 (#89)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  LICENSE
  README.rst
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

deploy: 713eeb055314a6cdadd798faff9e42e05edc5475
  .buildinfo
  404.html
  CNAME
  _autosummary/pytest_pyvista.VerifyImageCache.html
  _sources/_autosummary/pytest_pyvista.VerifyImageCache.rst.txt
  _static/basic.css
  _static/copybutton.js
  _static/documentation_options.js
  _static/scripts/bootstrap.js
  _static/scripts/bootstrap.js.LICENSE.txt
  _static/scripts/bootstrap.js.map
  _static/scripts/pydata-sphinx-theme.js
  _static/scripts/pydata-sphinx-theme.js.map
  _static/searchtools.js
  _static/sphinx_highlight.js
  _static/styles/bootstrap.css
  _static/styles/pydata-sphinx-theme.css
  _static/vendor/fontawesome/6.1.2/css/all.min.css
  _static/webpack-macros.html
  api.html
  genindex.html
  index.html
  objects.inv
  search.html
  searchindex.js
Labels: none

Renaming CLI argument
  pytest_pyvista/pytest_pyvista.py
Labels: none

Refactoring rest of files
  .github/workflows/ci_cd.yml
  README.rst
  tests/test_pyvista.py
Labels: documentation, maintenance

Add generated_image_dir ini configuration
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- ./*.md
- ./*.rst
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- ignore_words.txt
- mypy.ini
- pyproject.toml
- setup.py
dependencies:
- requirements*
- environment.yml
