Repository pyvista/pytest-pyvista, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

Finishes flit build
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  requirements_test.txt
  setup.py
Labels: maintenance, dependencies

Adds pyvista version to dependencies
  pyproject.toml
Labels: maintenance

Adds new line at end of file
  pyproject.toml
  pytest_pyvista/__init__.py
Labels: maintenance

Adds explanation to entry point key
  pyproject.toml
Labels: maintenance

Adapts CI/CD to flit
  .github/workflows/ci_cd.yml
Labels: maintenance

Adapts CI/CD to flit
  .github/workflows/ci_cd.yml
Labels: maintenance

Adapts CI/CD to flit
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Changes build system to flit (#7)
  .github/workflows/ci_cd.yml
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  requirements_test.txt
  setup.py
Labels: maintenance, dependencies

Changes version number
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

Bump version 0.1.0
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

Removes finish workflow condition since we don't have workflows
  .github/workflows/ci_cd.yml
Labels: maintenance

Solves version issue
  pyproject.toml
Labels: maintenance

Bump version 0.1.1
  docs/conf.py
  pyproject.toml
  pytest_pyvista/__init__.py
Labels: maintenance

Better default cache dir and config options
  .gitignore
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

better docatrings in tests
  tests/test_pyvista.py
Labels: none

Limit NumPy for tests
  pyproject.toml
Labels: maintenance

raise for vtk <9
  .github/workflows/ci_cd.yml
  pytest_pyvista/pytest_pyvista.py
Labels: maintenance

Better default cache dir and config options (#19)
  .github/workflows/ci_cd.yml
  .gitignore
  pyproject.toml
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: maintenance

allow saving images to dir
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

add option for adding missing images to cache
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

Use instance attributes
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

Use instance attributes (#23)
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

bump version 0.1.2
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

bump dev version
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

option for skipping on vtk8
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: none

skip vtk8 test on vtk9
  tests/test_pyvista.py
Labels: none

add vtk8 to ci
  .github/workflows/ci_cd.yml
Labels: maintenance

Correct whitespace
  pytest_pyvista/pytest_pyvista.py
Labels: none

Option for skipping on vtk8 (#26)
  .github/workflows/ci_cd.yml
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: maintenance

bump version
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

bump dev version (#25)
  docs/conf.py
  pytest_pyvista/__init__.py
Labels: none

Update README.rst
  README.rst
Labels: documentation

Unpin pyvista
  pyproject.toml
Labels: maintenance

Mention version requirements in docs
  README.rst
Labels: documentation

Use better help message.
  pytest_pyvista/pytest_pyvista.py
Labels: none

Unpin pyvista (#31)
  README.rst
  pyproject.toml
Labels: documentation, maintenance

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
- ./*.md
- ./*.rst
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codecimate.yml
- ignore_words.txt
- mypy.ini
- pyproject.toml
- setup.py
dependencies:
- requirements*
- environment.yml
