Repository pyvista/pytest-pyvista, pull requests merged in 2023-09, with the labels that each got.

#77 Change dependency/CI version updates to monthly
  .github/dependabot.yml
  .pre-commit-config.yaml
Labels: maintenance

#81 Update LICENSE year
  .github/workflows/ci_cd.yml
  LICENSE
Labels: maintenance

#82 Reset cache only if error
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#80 Adding custom error class
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#88 Typo fix geovista to pytest-pyvista
  README.rst
Labels: documentation

#87 doc: Ad info about new flag
  README.rst
Labels: documentation

#89 Release v0.1.9
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  LICENSE
  README.rst
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: maintenance
