Repository pyvista/pytest-pyvista, pull requests merged in 2023-01, with the labels that each got.

#31 Unpin pyvista
  README.rst
  pyproject.toml
Labels: maintenance

#22 Allow saving generated images to dir
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#32 Update README and docstring with recent changes
  README.rst
  pytest_pyvista/pytest_pyvista.py
Labels: maintenance

#33 add in doc build
  .flake8
  .github/workflows/ci_cd.yml
  .gitignore
  appveyor.yml
  doc/Makefile
  doc/_static/README.md
  doc/_templates/README.md
  doc/api.rst
  doc/conf.py
  doc/index.rst
  doc/make.bat
  docs/index.rst
  pyproject.toml
  pytest_pyvista/__init__.py
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: documentation, maintenance

#39 Fix reset_image_cache
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: bug
