Repository pyvista/pytest-pyvista, pull requests merged in 2025-07, with the labels that each got.

#170 Add `allow_useless_fixture` CLI option
  .github/workflows/ci_cd.yml
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#176 Improve test coverage
  .github/workflows/ci_cd.yml
  tests/test_pyvista.py
Labels: maintenance

#169 Add `disallow_unused_cache` option
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#182 Fix license field
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#190 Use pytester instead testdir
  pyproject.toml
  tests/test_pyvista.py
Labels: enhancement, maintenance
