Repository pyvista/pytest-pyvista, pull requests merged in 2025-06, with the labels that each got.

#168 Modernize testing versions and installation in CI
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#174 Set default generated image dir to `None`
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: bug

#171 Add `failed_image_dir` option
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement

#175 Add `allow_unused_generated` option as a replacement for `fail_extra_image_cache`
  .github/workflows/ci_cd.yml
  README.rst
  pytest_pyvista/pytest_pyvista.py
  tests/test_pyvista.py
Labels: enhancement, maintenance
